#sinistra {
  position: absolute;
  width: 20%;
  margin-top: 15%;
  background-color: #33ccff;
  margin-left: 0%;
  text-align: left;
}
#titolo {
  text-align: center;
  background-color: #ccffff;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  position: absolute;
}
#grafico {
  margin-right: 0%;
  margin-left: 25%;
  position: absolute;
  width: 80%;
  margin-top: 15%;
}
.titolo {
  font-style: italic;
  font-family: Century;
  font-weight: bold;
  font-size: 35pt;
  color: #3333ff;
  text-align: center;
}
.sottotitolo {
  font-style: italic;
  font-family: Century;
  font-weight: bold;
  font-size: 15pt;
  color: #3333ff;
  text-align: center;
}
.menu {
  color: black;
  font-family: Century;
  font-size: 13pt;
  font-style: normal;
}

